/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

 /*------------------------------------*\
    $INDICE
\*------------------------------------*/
/**
    * INDICE........... 'Indice' de todo el contenido incluido en el css
    * FONT-FACE........... Importamos fuentes de iconos y font-face
    * BODY........... Contenido incluido dentro del body
        ** HEADER...............Valores pertenecientes al head de nuestro sitio
        ** NAVIGATION...............Valores pertenecientes navigation bar de nuestro sitio
        ** CONTENT...............Valores pertenecientes al contenido injectado dentro de 'content'
        ** FOOTER...............Valores pertenecientes al footer
*/

$BODY_BG: palegoldenrod;
$NAV_BG: orange;
$FORM_BG:#fffded;
$CButton_table: #6f9ceb;
$CButton_submit: #339133;
$c_base1: black;
$c_base2: white;
$c_base3: purple;
$c_base4: grey;


@import '_mixins.scss';




/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/





/*------------------------------------*\
    $BODY
\*------------------------------------*/
/*
    * HEADER...............Valores pertenecientes al head de nuestro sitio
    * NAVIGATION...............Valores pertenecientes navigation bar de nuestro sitio
    * CONTENT...............Valores pertenecientes al contenido injectado dentro de 'content'
    * FOOTER...............Valores pertenecientes al footer
*/


.gridBody{
    height: 100%;
    width: 100%;    
    background-color: palegoldenrod;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto);
}




@import '_header.scss';
        

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

    .gridBody-navBar{
        display:none;
    }


@import '_contenido.scss';



/*------------------------------------*\
    $FOOTER
\*------------------------------------*/


    .gridBody-footer{
        display:none;  
    } 