/*------------------------------------*\
    $INDICE
\*------------------------------------*/
/**
    * INDICE........... 'Indice' de todo el contenido incluido en el css
    * FONT-FACE........... Importamos fuentes de iconos y font-face
    * ANIMATIONS........... DeclaraciĂłn de animaciones utilizadas en el proyecto
    * BODY........... Contenido incluido dentro del body
        ** HEADER...............Valores pertenecientes al head de nuestro sitio
        ** NAVIGATION...............Valores pertenecientes navigation bar de nuestro sitio
        ** CONTENT...............Valores pertenecientes al contenido injectado dentro de 'content'
        ** FOOTER...............Valores pertenecientes al footer
*/





/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/






/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/


@keyframes zoom {
    0% {
        transform: scale(1.3) rotate(-5deg) translateX(2px);
        }
    25% {
        transform: scale(1) rotate(0deg) translateX(2px);
        }
    50% {
        transform: scale(1.3) rotate(5deg) translateX(2px);
      }
    75% {
        transform: scale(1) rotate(0deg) translateX(2px);
      }
    100% {
        transform: scale(1.3) rotate(-5deg) translateX(2px);
      }
  }

@keyframes arcoiris {
    0% {
        background-color: purple;
        }
    10% {
        background-color: blue;
        }
    20% {
        background-color: cyan;
      }  
    30% {
        background-color: green;
      }
    40%{
        background-color: yellow;
      }  
    50% {
        background-color: orange;
      }
    60% {
        background-color: red;
      }
    70% {
      background-color: yellow;
    }
    80% {
      background-color: orange;
    }
    90% {
        background-color: green;
      }
    100% {
        background-color: blue;
      }
  }







/*------------------------------------*\
    $BODY
\*------------------------------------*/
/*
    * HEADER...............Valores pertenecientes al head de nuestro sitio
    * NAVIGATION...............Valores pertenecientes navigation bar de nuestro sitio
    * CONTENT...............Valores pertenecientes al contenido injectado dentro de 'content'
    * FOOTER...............Valores pertenecientes al footer
*/


.gridBody{
    height: 100%;
    width: 100%;    
    background-color: palegoldenrod;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto);
}



/*------------------------------------*\
    $HEADER
\*------------------------------------*/


.gridBody-containerHead{
    grid-row: 1;
    max-height: 100%;
    max-width: 100%;
}

    .containerHead-headerSite{
        max-height: 100%;
        max-width: 100%;
        margin: 0px;  
        background-image: url('../img/banner.jpg');
        background-size: 60%;
        background-clip: padding-box;
        border: 12px double black;
        background-origin: border-box;

    }

        .headerSite-linkHeader{
            max-height: 100%;
            max-width: 100%;
            text-decoration: none;
            font-size: 2rem;
            color: white;
            text-shadow: 3px 3px black;
            display:block;
        }
        
        .headerSite-linkHeader:hover{
            color: rgb(255, 79, 79);
        }
        
        .headerSite-gridHeader{
            max-height: 100%;
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: 1fr ;
        }


        .gridHeader-isotipo{
            height: 100%;
            width: 100%;
            grid-row: 1;
            grid-column: 2;
        }

            .gridHeader-isotipo img{
                max-height: 100%;
                max-width: 100%;
                padding-left: 1em;
            }
        

        .gridHeader-title{
            width: 100%;
            height: 100%;
            grid-row: 1;
            grid-column: 1;
            text-align: right;
        }




/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/


    .gridBody-navBar{
        grid-row: 2;
        border:3px;
        box-shadow: inset -1px -2px 0px 4px rgba(0,0,0,0.73);
        background-color: orange;
    }

        .navBar-listado{
            list-style-type: none;
            margin: 0;
            padding:1;
        }

            .listado-item{
                float: left;
                display: block;
            }

                .item-link{
                    display: block;
                    color: black;
                    text-align: center;
                    padding: 18px 16px;
                    text-decoration: none;
                }

                .item-link:hover {
                    cursor: pointer;
                    color: white;
                    background-color: rgba(0,0,0,0.73);
                    transform: scale(1.3) rotate(-5deg) translateX(2px);
                    animation-name: zoom;
                    animation-duration: 1s; 
                    animation-timing-function: ease-out; 
                    animation-iteration-count: infinite;
                    animation-play-state: running;
                
                }






/*------------------------------------*\
    $CONTENT
\*------------------------------------*/


  
    .gridBody-content{
        grid-row: 3;
        width: 100%;
        height: 100%;
    }

        .content-button {
            background-color: #6f9ceb;
            box-shadow: 6px 5px 10px 0px rgba(0,0,0,0.76);  	
            border-radius: 8px;
            font-family: Arial;
            font-weight: bold; 
            color: #ffffff;
            margin-right:.5em;
        }

        .content-table{
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .content-input {
            border-radius: 4px;
        }

            .table-title{
                text-align: center;
                font-weight: bold;
                color: white;  
                padding:0.25em;
                background-color: black;
            }

            .table-td{
                font-family: sans-serif;
                color: #000000;
                padding: 1rem;
            }
            

        .content-addForm{
            margin: 10px auto;
            width: 50%;
            height: 100%;
            border: 1px black solid;
            border-radius: 5px;
            padding: 3em;
            background-color:#fffded;
        }

             .addForm-cabecera{
                font-size: 2em;
                margin-top: 0;
                text-align: center;
             }

            .formcontent-labelform {
                size: 3rem;
                font-weight: bold;
                font-style: italic;
            }

            .formcontent-inputdata{
                width: 100%;
                box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.45);
            }


            .formcontent-inputtable{
                width: 30%;
                box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.45);
            }


            .formcontent-submit{
                align-items: right;
                padding: 0.5em;
                background-color: rgb(51, 145, 51);
                color:white;
                font-size: 16px;
                border-radius: 5px;
                float: right;
            }

            .formcontent-textarea{
                width: 100%;
                height: auto;
                overflow-y: auto;
                box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.45);
              }
           


/*------------------------------------*\
    $FOOTER
\*------------------------------------*/


    .gridBody-footer{
        grid-row: 4;
        border: 10px double black;
        background: url(../img/footer.png);
        background-origin: content-box;
        position: FIXED ;
        right: 0  ;
        left: 0  ;
        background-color: purple;
        text-align: center ;
        color: #eee;
        font-weight: bold;
        bottom: 0px;
        padding: 5px;

        /*Stroke generated with http://owumaro.github.io/text-stroke-generator*/
        text-shadow: #000000 2px 0px 0px, 
        #000000 1.75517px 0.958851px 0px, 
        #000000 1.0806px 1.68294px 0px, 
        #000000 0.141474px 1.99499px 0px, 
        #000000 -0.832294px 1.81859px 0px, 
        #000000 -1.60229px 1.19694px 0px, 
        #000000 -1.97998px 0.28224px 0px, 
        #000000 -1.87291px -0.701566px 0px, 
        #000000 -1.30729px -1.5136px 0px, 
        #000000 -0.421592px -1.95506px 0px, 
        #000000 0.567324px -1.91785px 0px, 
        #000000 1.41734px -1.41108px 0px, 
        #000000 1.92034px -0.558831px 0px;    }

        .footer-Msg{
            size: 1rem;
        }

        .footer-notify{
            color: grey;
            position:relative;
            bottom:0;
        
        }