<h2>Add new Graded Task</h2>
  <p>We understand as a graded task any test or practice that will be marked by teacher and should be reflected in the final mark.</p>
<form id="newGradedTask">
  <label for="idTaskName">Task name:</label><br>
  <input type="text" id="idTaskName" name="taskname" value="" aria-required="true">
  <br>
  <label for="idTaskDescription">Task description:</label><br>
  <textarea rows="4" cols="50" id="idTaskDescription" name="taskdescription" aria-required="true"></textarea>
  <br>
  <label for="idTaskWeight"> Weight (0-100 %): </label><br>
  <input type="number" id="idTaskWeight" name="taskweight" value="" aria-required="true">
  <br><br>
  <input type="submit" value="Save">
</form> 