<section class="content-addForm">
  <h2 class="addForm-cabecera">Add new Student</h2>
  <form id="newStudent" class="formcontent">
    <label for="idFirstName" class="formcontent-labelform">First name:</label>
    <input class="formcontent-inputdata" type="text" id="idFirstName" name="firstname" value="" required aria-required="true">
    <br><br>
    <label for="idSurnames" class="formcontent-labelform">Surnames:</label>
    <input class="formcontent-inputdata" type="text" id="idSurnames" name="surnames" value="" required aria-required="true">
    <br><br>
    <input class="formcontent-submit" type="submit" value="Save">
    <br><br>
  </form>
</section>