<h2 class="cabecera">Add new Student</h2>
<form id="newStudent" class="formcontent">
  <label for="idFirstName" class="formcontent-labelform">First name: </label><br>
  <input class="formcontent-inputdata" type="text" id="idFirstName" name="firstname" value="" raria-required="true">
  <br>
  <label for="idSurnames" class="formcontent-labelform">Surnames: </label><br>
  <input class="formcontent-inputdata" type="text" id="idSurnames" name="surnames" value="" aria-required="true">
  <br><br>
  <input type="submit" value="Save">
</form>
